[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"svg.path" = "*"
requests = "*"
pywebio = "*"
plotly = "*"
scikit-learn = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
flask = "*"
statsmodels = "*"
beautifulsoup4 = "*"
celery = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.11"
